@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap");

nav ul li {
  display: inline-block;
  padding: 0.5em;
  color: #777;
  padding-left: 0%;
}

/* nav ul {
  margin-left: 0px;
} */

nav {
  border-top: 5px solid #eee;
  border-bottom: 5px solid #eee;
  position: sticky;
  top: 0em;
  margin: 0;
  z-index: 1;
  background-color: white;
}

h1 {
  text-align: center;
  /* Roboto Slab font */
  font-family: "Abril Fatface", cursive;
  font-size: 3em;
}

body {
  /* font-family: source sans pro; */
  margin: auto;
  background-color: #eee;
  font-family: "Source Sans Pro";
  text-align: justify;
}

div.newspaper-container {
  background-color: white;
  border-radius: 1%;
  width: 700px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: 1em #ddd;
}

#author {
  color: red;
}

section {
  display: inline-block;
  width: 300px;
  margin: 20px;
}

h4 {
  font-family: "Roboto Slab";
}

h2 {
  font-family: "Roboto Slab";
}

a {
  text-decoration: none;
  color: #777;
}

img {
  width: auto;
}

h5 {
  font-family: "Roboto Slab";
}

#threeWide {
  display: inline-block;
  width: 100px;
  margin: 20px;
}

#threeWide img {
  width: 100px;
}
